@import "./registration.css";
@import "./visibleDecoration.css";
@import "./helveticaNeue.css";
@import "./inputFields.css";

:root {
  --subtitle-collor: #787b79;
  --input-placeholder: #b2b2b2;
  --background-card: #ecf2ef;
  --registration-button: #3e9ffd;
  --input-border_default: #636363;
  --input-border_focus: #3b98f1;
  --input-checkbox_checked: #5394fb;

  --placeholder-fontSize: 32px;
  --font-helvetica: "Helvetica", sans-serif;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

.registrationPage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrationPage__background {
  background: url(../img/Flowers.png);
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100%;

  position: absolute;
  opacity: 0;

  animation-name: backgroundImg;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes backgroundImg {
  from {
    opacity: 0;
  }
  10% {
    opacity: 0.10;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.50;
  }
  75% {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

.registrationPage_wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 722px;
  height: 840px;
  background: #f3f8f4;
  position: relative;
  opacity: 0.8;

  animation-name: transformRegistrationPage;
  animation-duration: 3s;
}

@keyframes transformRegistrationPage {
  from {
    transform: translateZ(100px) rotateX(-90deg);
  }
  to {
    transform: translateZ(0px) rotateX(0deg);
  }
}