.registration {
  width: 560px;
  margin: 0 auto;
}

.registration__form {
  display: flex;
  flex-direction: column;
  padding-top: 160px;
}

.registration__title {
  font-size: 60px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  font-family: var(--font-helvetica);
}

.registration__subtitle {
  font-size: 30px;
  text-align: center;
  color: var(--subtitle-collor);
  margin: 0;
  font-family: var(--font-helvetica);
}

.registration__button {
  width: 100%;
  height: 80px;

  background: var(--registration-button);
  border: transparent;
  
  color: #fff;
  font-size: 32px;
  margin-top: 88px;
}

.registration__button_uppercase {
  text-transform: uppercase;
}